/** Page Body **/

.spg-theme {
    /* color: #000000; */
    font-family: arial, serif;
    margin: 0 auto;
    /* background: #F0F4F8 linear-gradient(90deg, #e7f0f3 0%, #ffffff 85%, #e7f0f3 100%); */
    /* background-color: #ffffff; */
}

.spg-theme header.themed {
    background-color: #FFF;
    min-height: 45px;
}


/** Page Body Container **/

.body-container {
    background-color: white;
    max-width: 1200px;
    /*border-radius: 7px;*/
    margin: 10px auto 0px auto;
    padding: 0 0 8px 0px;
    /*border: 1px solid #8FA2BF;*/
}

/** Vertical and Horizontal layout options **/

.spg-theme.layout-full .inline-block-on-layout-full {
    display: inline-block !important;
}
.spg-theme.layout-narrow .inline-block-on-layout-narrow {
    display: inline-block !important;
}

body.layout-guest.spg-theme .hide-on-layout-guest,
body.layout-narrow.spg-theme .hide-on-layout-narrow,
body.layout-vertical.spg-theme .hide-on-layout-vertical,
body.layout-horizontal.spg-theme .hide-on-layout-horizontal {
    display: none;
}

body.layout-horizontal.spg-theme .float-left-on-layout-horizontal {
    float: left;
}
body.layout-horizontal.spg-theme .float-right-on-layout-horizontal {
    float: right;
}


/** Header **/

.spg-theme img.logo {
    padding: 2px 8px;
    max-width: 512px;
    max-height: 64px;
}

.spg-theme div.logo {
    background-image: url('img/logo.png');
    width: 341px;
    height: 54px;
    margin: 3px;
    display: inline-block;
}
.spg-theme div.logo-full {
    background: url('img/logo.png') no-repeat center;
    width: 496px;
    height: 175px;
}

.spg-theme header hr.themed {
    border: 1px solid #d8e9ed;
    margin-bottom: 0;
}

.spg-theme .site-welcome-text {
    font-style:italic;
    vertical-align: bottom;
    text-decoration: none;
    color: #3b7593;
    font-size: 1em;
    display: inline-block;
    line-height: 3em;
}
.spg-theme a {
    /* text-decoration: none; */
    color: #3997b9;
}

.spg-theme .menu-search {
    /* float: right; */
    padding: 7px 24px 6px 31px;
    margin: 5px 3px 3px 4px;
    border-radius: 6px;
    border: 1px inset;
    opacity: 0.7;
    transition: opacity 1s, max-width 1.4s ease-out;
    transition-delay: 0.8s;
    max-width: 3.2em;
    z-index: 99;
    position: relative;
    background: url('img/icons/btn_search.png') no-repeat #FFF;
    background-size: 24px;
    background-position: 3px 4px;
}

.spg-theme .menu-search:focus,
.spg-theme .menu-search:hover {
    opacity: 1;
    max-width: 30em;
    transition-delay: 0s;
    transition-duration: 0.6s;
}

/** Article **/

.spg-theme > article.themed {
     /*margin-top: 0.5em;*/
}
.spg-theme > article.themed > section.content {/* background: #f0f4f6 linear-gradient(90deg, #ffffff 0%, #dae6ea 70%, #dae6ea 90%, #ffffff 100%); */}

/** Footer **/

.spg-theme > footer {
    font-size: small;
    text-align: center;
    padding: 3em;
    clear: both;
}
.pointer{
	display:none;
		position:fixed;
		right:3%;
		bottom:10%;
		width:30px;
		height:30px;
		border-radius:15px;
		text-align:center;
		margin:0 auto;
		padding-top:5px;
		color:#21455b;
		vertical-align: top;
		}
	.pointer:hover{
		color:#2b89ab;
		}
		
		.pointer:active{
		color:lightblue;
		}



/** Page Menu **/

.spg-theme ul.page-menu {
    padding: 0 0px;
    margin: 0 0;
    display: inline-block;
    overflow: hidden;
    float: left;
    font-size: larger;
}

.spg-theme ul.page-menu > li > ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0px 0 12px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.6s ease-in;
    font-size: smaller;
    /* transition-delay: .8s; */
}

.spg-theme ul.page-menu > li > ul .menu-icon {
    font-size: 7px;
}


.spg-theme ul.page-menu a.button > span {
    margin: 0px 0px 0px 5px;
    /* position: absolute; */
}


/** Menu Animation **/

.spg-theme.layout-full ul.page-menu + article.themed,
.spg-theme.layout-narrow ul.page-menu:hover + article.themed {
    margin-left: 12em;
}
.spg-theme.layout-narrow ul.page-menu + article.themed {
    margin-left: 8px;
}

body.layout-narrow.spg-theme ul.page-menu:not(:hover) ul {
    margin-left: 3px;
    transition: margin-left 0.4s;
}
body.layout-narrow.spg-theme ul.page-menu {
    transition: max-width 0.4s ease-out, margin-left 0.4s;
}

.spg-theme ul.page-menu span {
    transition: opacity 0.4s, max-width 0.4s;
    max-width: 100px;
    opacity: 1;
}

body.layout-narrow.spg-theme ul.page-menu:not(:hover) span {
    max-width: 0;
    opacity: 0;
    padding: 0 0;
    margin: 0 0;
    display: inline-block;
}

body.menu-hidden.spg-theme ul.page-menu {
    max-width: 0;
}

body.layout-narrow .hide-on-layout-narrow {
    display: none;
}



.spg-theme nav.page-menu {
    float: left;
    margin: 0em 0.5em 1em 0.1em;
    /* max-width: 4em; */
    overflow-x: hidden;
}

body.layout-vertical.spg-theme nav.page-menu {
    float: inherit;
    margin: 0.6em;
}


/** Sub Menu **/

/** Opens on hover or current selection **/
.spg-theme ul.page-menu > li:hover > a + ul,
.spg-theme ul.page-menu > li > a.current + ul {
    /*     display: block; */
    max-height: 40em;
    transition-delay: 0.1s;
}

.spg-theme ul.page-menu .menu-submenu {
    border-radius: 2px 2px 2px 6px;
    margin-bottom: 1px;
}

.spg-theme ul.page-menu .menu-submenu-dashboard    { background-color: lightblue; }
.spg-theme ul.page-menu .menu-submenu-order        {background-color: #dae6ea;}
.spg-theme ul.page-menu .menu-submenu-merchant     {background-color: #dae6ea;}
.spg-theme ul.page-menu .menu-submenu-user         {background-color: #dae6ea;}
.spg-theme ul.page-menu .menu-submenu-integration  {background-color: #dae6ea;}



/** Menu Icons **/

.spg-theme .menu-icon {
    font-size: 9px;
    background: url(img/nav_icons.png?v=3) no-repeat top left;
    background-size: 16em 24em;
    width: 4em;
    height: 4em;
    transition: margin-left 0.4s ease-out;
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
}


.spg-theme .menu-icon.menu-icon-toggle {
    background-position: -4em 0;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.spg-theme.layout-narrow .menu-icon.menu-icon-toggle {
    transform: rotate(90deg);
    transition: transform 0.5s;
}
.spg-theme .sub-header .menu-button-toggle {
    display: inline-block;
    padding: 0px 0px 0px 5px;
    margin: 1px 0 -2px 5px;
}

.spg-theme .sub-header .menu-button-account {
    /* height: 47px; */
    /* width: 52px; */
    padding: 0px 3px 0px 0px;
}


.spg-theme ul.menu-sub-menu a.button .menu-icon {
    font-size: 7px;
}
.spg-theme ul.menu-sub-menu a.button > span {
    margin: 0px 0px 0px 4px;
    display: inline-block;
    font-size: larger;
}


.spg-theme ul.menu-sub-menu {
    max-height: 0px;
    max-width: 0px;
    overflow: hidden;
    min-width: 11em;
    /* display: none; */
    transition: max-height 1s ease-in, max-width 0.5s ease-in, display 1s;
    position: absolute;
    right: 75px;
    z-index: 999;
    list-style: none;
    /* margin: 2px 0px 0px 0px; */
    margin: 3px 0px;
    padding: 0 0px 0px 1px;
    border-radius: 0 0  0 4px;
    background-color: #bcc5d1;
    /* box-shadow: 0px 1px 2px #222; */
}

.spg-theme ul.menu-sub-menu:hover,
.spg-theme .menu-button-account:hover + ul.menu-sub-menu {
    max-height: 400px;
    max-width: 400px;
    /* display: block; */
}
/** Nav Menu Icon Types **/

.spg-theme .menu-icon.menu-icon-dashboard   { background-position: 0 -16em;}
.spg-theme .menu-icon.menu-icon-charge      { background-position: 0 -4em;}
.spg-theme .menu-icon.menu-icon-account     { background-position: -8em 0;}
.spg-theme .menu-icon.menu-icon-list        { background-position: -4em -16em;}
.spg-theme .menu-icon.menu-icon-report      { background-position: -12em -8em;}
.spg-theme .menu-icon.menu-icon-batch       { background-position: -4em -20em;}
.spg-theme .menu-icon.menu-icon-transaction { background-position: -8em -12em;}
.spg-theme .menu-icon.menu-icon-subscription{ background-position: 0em -20em;}
.spg-theme .menu-icon.menu-icon-merchant    { background-position: -12em 0;}
.spg-theme .menu-icon.menu-icon-user        { background-position: -8em -8em;}
.spg-theme .menu-icon.menu-icon-integration { background-position: -4em -8em;}
.spg-theme .menu-icon.menu-icon-provision   { background-position: -4em -8em;}
.spg-theme .menu-icon.menu-icon-logout      { background-position: -12em -4em;}
.spg-theme .menu-icon.menu-icon-sub-menu    { background-position: -12em -16em;}
.spg-theme .menu-icon.menu-icon-customize   { background-position: 0 -4em;}

.spg-theme .menu-icon.menu-icon-edit        { background-position: -4em -4em; }
.spg-theme .menu-icon.menu-icon-add         { background-position: -8em -4em; }
.spg-theme .menu-icon.menu-icon-delete      { background-position: 0 -8em; }
.spg-theme .menu-icon.menu-icon-view        { background-position: -8em 0; }
.spg-theme .menu-icon.menu-icon-print       { background-position: 0 -12em; }
.spg-theme .menu-icon.menu-icon-download    { background-position: -4em -12em; }
.spg-theme .menu-icon.menu-icon-receipt     { background-position: -8em -12em; }

/** Dashboard Apps **/

.spg-theme .app-chart {
    box-shadow: 0px 2px 2px #CCC;
    transition: box-shadow 0.5s ease;
}

.spg-theme .app-chart a {
    color: white;
}

/** App Menu Icons **/



.spg-theme .app-button  {
    width: 1em;
    height: 1em;
    background-image: url('img/btn_icons.png');
    background-size: 4em 4em;
    font-size: 16px;
    text-decoration: none;
    margin: 0 auto;
}
.spg-theme .app-button.large {
    font-size: 32px;
}
.spg-theme .app-button.small {
    font-size: 16px;
}

.spg-theme .app-button.app-button-up            { background-position: -1em 0em; }
.spg-theme .app-button.app-button-down          { background-position: -2em 0em; }
.spg-theme .app-button.app-button-top           { background-position: -3em 0em; }
.spg-theme .app-button.app-button-bottom        { background-position: 0em -1em; }
.spg-theme .app-button.app-button-config        { background-position: 0em 0em; }
.spg-theme .app-button.app-button-remove        { background-position: -1em -1em; }
.spg-theme .app-button.app-button-edit          { background-position: -3em -1em; }
.spg-theme .app-button.app-button-search        { background-position: -3em -1em; }
.spg-theme .app-button.app-button-fullscreen    { background-position: -3em -1em; }
.spg-theme .app-button.app-button-print         { background-position: -1em -2em;}
.spg-theme .app-button.app-button-download      { background-position: -4em -1em;}

.spg-theme .app-button-config {

}

.spg-theme .app-button.app-button-top-right {
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 1;
    margin: 4px;
}

.spg-theme ul.app-menu .app-button {
    float: left;
    margin-right: 8px;
}

.spg-theme .app-button > ul.app-menu {
    margin-left: -33px;
    margin-top: 7px;
    position: absolute;
    z-index: 2;
    list-style-type: none;
    text-align: left;
    max-height: 0px;
    max-width: 0px;
    transition: all 0.5s;
    transition-delay: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.spg-theme .app-button:hover > ul.app-menu {
    max-height: 400px;
    max-width: 400px;
    display: block;
    z-index: 3;
    transition-delay: 0.1s;
}

.spg-theme .app-button > ul.app-menu > li {
    background-color: #ffc074;
    padding: 5px 10px;
    white-space: nowrap;
    border: 1px outset;
    min-width: 9em;
}

.spg-theme .app-button > ul.app-menu > li:hover {
    background-color: gray;
    border: 1px inset;
    font-weight: bold;
}

.spg-theme .app-button > ul.app-menu > li > a {
    text-decoration: none;
    color: black;
}

/** App Sections **/

.app-section-top {
    height: 3.5em;
    /* padding: 0.5em 0.0em; */
    /* text-align: center; */
}

.app-section-text-large {
    font-size: 1.4em;
    /* text-decoration: underline; */
    text-shadow: 2px 2px 3px #444;
    padding: 0.7em 0 0.2em 0;
    /* font-family: monospace; */
}


/** Menu Buttons **/

.spg-theme a.button {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin: 0 0;
    display: block;
    color: #666;
    white-space: nowrap;
    background: linear-gradient(90deg, #dee9ec 0%, #ffffff 100%);
    border-bottom: 1px solid #c4cfd3;
}
.spg-theme a.button > * {
    vertical-align: middle;
}

.spg-theme li.menu-submenu > a.button {
    /* background-color: rgb(255, 255, 255); */
}

.spg-theme a.button:hover {
    /* background-color: #f0f4f6; */
    background: linear-gradient(90deg, #e0f1f5 3%, #f4f8fb 60%, #ffffff 100%);
    /* color: #ffffff; */
    font-weight: bold;
}
.spg-theme a.button.current {
    font-weight: bold;
    color: #4d97b2;
    background: linear-gradient(90deg, #e9f7fc 0%, #ffffff  100%);
}

.spg-theme a.button[disabled] {
    color: gray;
    cursor: default;
}




.spg-theme nav.page-menu {
    float: left;
    margin: 0em 0.5em 1em 0.1em;
    overflow-x: hidden;
}

body.layout-vertical.spg-theme nav.page-menu {
    float: inherit;
    margin: 0.6em;
}




/** Bread Crumbs **/

.spg-theme .sub-header {
    /* border-bottom: 1px solid #8fa2ad; */
    border-top: 1px solid #b3c5d0;
    /* padding: 0.8em 0.5em 0.4em 0.9em; */
    background-color: #dae6ea;
    /* position: relative; */
    min-height: 41px;
    /* display: block; */
    /* box-shadow: 0px 2px 2px #20465c; */
    background: linear-gradient(180deg, #dae6ea 15%, #dfeaed 50%,  #dae6ea 85%);
}

.spg-theme .sub-header > * {
    vertical-align: middle;
}

.spg-theme .bread-crumbs {
}

.spg-theme .bread-crumbs > a {
    text-decoration: none;
    color: #21455b;
    font-size: 0.9em;
    /*text-transform: lowercase;*/
    display: inline-block;
    /* font-style: italic; */
    padding: 0.4em;
    border-radius: 4px;
}

.spg-theme .bread-crumbs > a:hover {
    background-color: #d6e5ea;
    font-weight: bold;
}


/** Page Buttons **/

.page-buttons {
    padding: 5px 0 4px 0px;
    text-align: center;
    white-space: nowrap;
}

.page-buttons .page-button {
    padding: 8px 0px 0 0;
    margin: 0px 4px 0px 4px;
    border-radius: 0.8em 0.8em 0 0;
    border: 1px outset;
    cursor: pointer;
    width: 22%;
    min-width: 4em;
    display: inline-block;
    background-color: #e7f0f3;
    color: black;
    line-height: 34px;
    text-align: center;
    font-weight:  bold;
    transition: all 1s;
}

.page-buttons .page-button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.page-buttons .page-button:not(.disabled):hover {
    opacity: 1;
    background-color: #b7d0d3;
    box-shadow: 1px 1px 16px #448;
}



/** Messages **/

.spg-theme .alert {
    font-weight: bold;
    color: #0074af;
}


.spg-theme .error,
.spg-theme .info {
    border-radius: 0.8em;
    font-weight: bold;
    color: #061375;
    /* white-space: pre-wrap; */
    text-align: left;
}

.spg-theme div.error,
.spg-theme div.info {
    font-size: 1.1em;
    padding: 0.5em 1em;
    margin: 10px 2.5em;
    /* overflow-x: auto; */
    display: inline-block;
    min-width: 17em;
    font-weight: lighter;
}

.spg-theme .info {
    background: rgba(59, 117, 147, 0.53);
}
.spg-theme .error {
    background: rgba(255, 112, 29, 0.45);
    color: red;
}


/** Tables **/

.spg-theme form.themed > fieldset,
.spg-theme fieldset.themed {
    border: 0px inset #d4e7ec;
    /* padding: 0.5em 1px 0.3em 1px; */
    margin: 0.5em 0.25em 0.25em 0.25em;
    vertical-align: top;
    background-color: #FAFAFA;
    border-radius: 4px;
    /* background: linear-gradient(-3deg, #ffffff 0%, #ffffff 60%, rgb(214, 223, 234) 100%); */
    /* background-image: url(img/bk/fieldset.png); */
    /* background-repeat: repeat-x; */
    /* overflow: hidden; */
    background-color: white;
    box-shadow: 1px 3px 5px #d4d4d4;
}


.spg-theme form.themed > fieldset > legend,
.spg-theme fieldset.themed > legend,
.spg-theme fieldset > .legend,
.spg-theme th.legend,
.spg-theme td.legend,
.spg-theme legend.themed {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px inset #b1ced6;
    border-radius: 3px 0px 8px 3px;
    margin: 2px 0 7px 0;
    padding: 4px 3px 2px 4px;
    font-size: larger !important;
    background: linear-gradient(90deg, #eef5f7 40%, #ffffff 90%);
}

.spg-theme form.themed select,
.spg-theme form.themed textarea,
.spg-theme form.themed button,
.spg-theme form.themed input[type=email],
.spg-theme form.themed input[type=password],
.spg-theme form.themed input[type=text] {
    padding: 0.4em 0.6em;
    /* border-radius: 0.3em; */
    /* border-width: 1px; */
    /* margin: 0px 0px 1px 0px; */
    border: 1px inset rgba(33, 69, 91, 0.22);
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.21);
}

.spg-theme form.themed select.large,
.spg-theme form.themed input.large {
    padding: 0.5em 1em;
    border-radius: 0.3em;
    font-size: large;
}

.spg-theme input[type=reset].themed,
.spg-theme input[type=submit].themed,
.spg-theme input[type=button].themed,
.spg-theme button.themed {
    /* background: url('img/bk/input.button.png') repeat-x; */
    margin: 0.1em 0.1em;
    /* min-width: 80px; */
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #3a7190;
    background: linear-gradient(0deg, #3a7190 0%, #3a7190 50%, #3a7190 79%);
    color: white;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-right-color: #adabab;
    border-bottom-color: #adabab;
    box-shadow: 2px 2px 4px #CCC;
    font-size: .9em;
    font-weight: normal;
    text-align: center;
    padding: 7px 10px;
}

.spg-theme input[type=reset].themed:hover,
.spg-theme input[type=submit].themed:hover,
.spg-theme input[type=button].themed:hover,
.spg-theme button.themed:hover {
    background: linear-gradient(0deg, #3a7190 0%, #23465c 50%, #3a7190 100%);
    box-shadow: 1px 1px 1px #008ee9;
}


.spg-theme table.themed {border-spacing: 0 0;margin: 0 0px 0.5em 0px;/* min-width: 48%; *//* width: 100%; */}

.spg-theme table.themed > tbody > tr > th.section-break {
    background-color: #bcc5d1;
    color: #000;
    text-align: center;
    padding: 2px 4px;
}

.spg-theme table.themed > tbody > tr > td {
    padding: 0.3em 0 0.3em 0.6em;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    /* text-align: center; */
}
.spg-theme table.themed > tbody > tr > td > a {
    text-decoratioN: none;
}

/* .spg-theme table.themed.small > tbody > tr > th, */
.spg-theme table.themed.small > tbody > tr > td {
    font-size: smaller;
    /*max-width: 5em;*/
}

.spg-theme table.cell-borders {
}

.spg-theme table.cell-borders > tbody > tr > th,
.spg-theme table.cell-borders > tbody > tr > td {
    border: 1px outset #EEE;
    padding: 2px 1em;
}

.spg-theme table.striped-rows > tbody > tr.row-even {
    background-color: rgba(61, 118, 148, 0.08);
}

.spg-theme table.themed > tbody > tr:hover {
    background-color: #dce6ea;
}

.spg-theme table.themed > tbody > tr > th {
    background-color: #bcc5d1;
    text-align: left;
    padding-left: 0.5em;
}


.spg-theme table.themed > tbody > tr > th.name,
.spg-theme table.themed > tbody > tr > td.name {
    /* text-align: right; */
    /* text-transform: uppercase; */
    font-size: smaller;
    padding: 0.5em 0 0.5em 0.5em;
    vertical-align: top;
    font-weight: bold;
    min-width: 6em;
}


.spg-theme table.themed > tbody > tr > td.value {
    text-align: left;
    /* font-size: smaller; */
    padding: 0.5em 0.5em;
}

.spg-theme table.themed > tbody > tr > td.name::after {
    content: ':';
    color: gray;
}

.spg-theme table.themed > tbody > tr.required > td.name::before {
    content: '*';
    color: red;
}

.spg-theme table.themed > tbody > tr.required > td.name {}



/** Payment **/

.spg-theme .credit-image {
    background: url('img/payment/credit-image.png') no-repeat;
    width: 270px;
    height: 44px;
}

.spg-theme .credit-image.small {
    background: url('img/payment/credit-image-small.png') no-repeat;
    width: 192px;
    height: 32px;
}

.spg-theme .check-image {
    background: url('img/payment/check-image.png') no-repeat;
    width: 300px;
    height: 162px;
}

.spg-theme .cvv2-image {
    background: url('img/payment/cvv2-image.png') no-repeat;
    width: 225px;
    height: 170px;
    display: inline-block;
}

.spg-theme .cvv2-image.small {
    /* transform: scale(0.8); */
    /* margin: 12px -44px 12px -26px; */
}





.spg-theme h1,
.spg-theme h2,
.spg-theme h3,
.spg-theme h4,
.spg-theme h5,
.spg-theme h6 {
    margin: 1.4em 0 0.1em 0;
    font-style: italic;
    font-size: .7em;
    font-weight: lighter;
}

/** Pagination **/

.pagination a {
    padding: 0.2em;
    margin: 0.5em 0;
    min-width: 0.8em;
    display: inline-block;
    text-align: center;
    border-radius: 0.2em;
    background-color: #eef5f7;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #BBB;
}
.pagination a:visited {
}

.pagination a.current {
    background-color: #dae6ea;
}


/** Printing **/

.show-on-print {
    display: none;
}

@media print
{
    .hide-on-print, .hide-on-print *
    {
        display: none !important;
    }

    .show-on-print {
        display: inherit;
    }

    .small-font-on-print {
        font-size: 8px;
    }


    .spg-theme fieldset {
        box-shadow: none !important;
        border: 0;
    }

    .spg-theme > article.themed {
        margin-left: 0 !important;
    }
}

@media screen  and (min-width:480px) and (max-width:767px) {
.spg-theme header.themed {
   	text-align:center;
}
.body-container {
    overflow:hidden;
}
.spg-theme.layout-narrow ul.page-menu + article.themed {
    margin: 0px;
	position:absolute;
	background:#ffffff;
}
.search_box{
	position:absolute;
	top:12%;
	right:8%;
}
.spg-theme ul.menu-sub-menu {
	right:0;
    overflow: hidden;
    min-width: 100%;
    position: relative;
}
.spg-theme ul.menu-sub-menu a{
	padding-left:40%;
}
.pointer{
	display:block;	
}

	}

@media screen and (max-width:480px) {
.spg-theme header.themed {
   	text-align:center;
}

.spg-theme.layout-narrow ul.page-menu + article.themed {
    margin: 0px;
	position:absolute;
	background:#ffffff;
}
.search_box{
	position:absolute;
	top:12%;
	right:8%;
}
.spg-theme ul.menu-sub-menu {
	right:0;
	overflow: hidden;
    min-width: 100%;
    position: relative;
}
.spg-theme ul.menu-sub-menu a{
	padding-left:40%;
}

.body-container {
    overflow:hidden;
}
.body-container.themed  div{
    text-align:justify;
}
.spg-theme .app-chart {
    width:422px;
	height:203px;
}
.pointer{
	display:block;		
}
	
	}
