body.spg-theme {
    color: #7F7F7F;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.spg-theme > header {
    border-bottom: 1px solid #ccc;
}

body.spg-theme > nav {
    float: left;
    /* max-width: 10em; */
    padding-right: 1em;
    /* height: 24em; */
}

body.spg-theme > nav > a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: small;

    border: 1px solid #ccc;
    border-top-width: 0px;
    padding: 0.5em 1em;
    min-width: 10em;

    background-color: #FAFAFA;
}

body.spg-theme > nav > a:hover {
    background-color: #EFAFAF;
}


body.spg-theme > nav > a.current {
    background-color: #DDD;
}


body.spg-theme > article {}



/** Tables **/

body.spg-theme form.themed {
    font-family: monospace;
    background-color: #FAFAFA;
    display: inline-block;
}

body.spg-theme form.themed a {
    text-decoration: none;
}

body.spg-theme form.themed > fieldset {
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}

body.spg-theme table.themed {
    /* width: 100%; */
    /* white-space: nowrap; */
}

body.spg-theme table.themed > tbody > tr > th {
    background-color: #DDD;
    color: #000;
}

body.spg-theme table.themed > tbody > tr > td {
    padding: 0.4em 1em ;
    vertical-align: top;
}


body.spg-theme table.themed > tbody > tr.row-even {
    background-color: #EFEFEF;
}

body.spg-theme table.themed > tbody > tr:hover {
    background-color: #DDF;
}

body.spg-theme table.themed > tbody > tr {
    /*text-align: center;*/
}


