/** App Total **/

.app-chart {
    width: 360px;
    height: 240px;
    /* min-height: 12em; */
    padding: 12px;
    margin: 0.5em 0.4em;
    /*border: 0px outset #FFF;*/
    border-radius: 0.3em;
    display: inline-block;
    /*text-align: center;*/
    /* cursor: pointer; */
    vertical-align: top;
    position: relative;
    color: white;
    background: url('img/app-chart-graph-overlay-small.png') no-repeat center;
}


.app-chart a {
    color: white;
}

.app-chart:hover {
    box-shadow: 0px 0px 3em #8adeff;
    background: linear-gradient(to bottom, #ccd7e6 0%, rgba(174, 62, 145, 0.07) 100%);
}

.app-chart-amount {
    display: block;
    color: white;
    font-size: xx-large;
    text-decoration: none;
    text-shadow: 2px 2px 3px #444;
    padding: 12px;
    background-color: rgba(51, 75, 90, 0.33);
    border-radius: 0 0 8px 8px;
}
.app-chart-count {
    display: block;
    text-decoration: none;
    color: white;
}

/** App Config **/


/** App Report Totals **/

.app-chart-daily,
.app-chart-today {
    background: url('img/app-chart-graph-overlay-small-today.png') no-repeat center, linear-gradient(to bottom, #d4e7ec 0%, #f0f4f6 100%);
}
.app-chart-wtd {
    background: url('img/app-chart-graph-overlay-small-wtd.png') no-repeat center, linear-gradient(to bottom, #ff5b99 0%, #ae3e3e 100%);
}
.app-chart-mtd {
    background: url('img/app-chart-graph-overlay-small-mtd.png') no-repeat center, linear-gradient(to bottom, #fef97b 0%, #d57d10 100%);
}
.app-chart-ytd {
    background: url('img/app-chart-graph-overlay-small-ytd.png') no-repeat center, linear-gradient(to bottom, #69d0fe 0%, #3b7593 100%);
}

