/** App Total **/

.app-chart {
    width: 450px;
    height: 240px;
    /* min-height: 12em; */
    padding: 5px;
    margin: 10px 8px;
    /*border: 0px outset #FFF;*/
    border-radius: 0.3em;
    display: inline-block;
    /*text-align: center;*/
    cursor: pointer;
    vertical-align: top;
    position: relative;
    color: white;
}


.app-chart a {
    color: white;
}

.app-chart:hover {
    box-shadow: 0px 0px 3em #8adeff;
    /* background: linear-gradient(to bottom, #ccd7e6 0%, rgba(174, 62, 145, 0.07) 100%); */
}

.app-chart-amount {
    display: block;
    color: white;
    font-size: xx-large;
    text-decoration: none;
    text-shadow: 2px 2px 3px #444;
    padding: 12px;
    background-color: rgba(51, 75, 90, 0.33);
    border-radius: 0 0 8px 8px;
}
.app-chart-count {
    display: block;
    text-decoration: none;
    color: white;
}

/** App Config **/


/** App Report Totals **/

.app-chart-daily,
.app-chart-today {
    background: linear-gradient(to bottom, #e88b88 0%, #FFF 100%);
}
.app-chart-wtd {
    background: linear-gradient(to bottom, #51c0e8 0%, #FFF 100%);
}
.app-chart-mtd {
    background: linear-gradient(to bottom, #8acf81 0%, #FFF 100%);
}
.app-chart-ytd {
    background: linear-gradient(to bottom, #ecdf8f 0%, #FFF 100%);
}



/** Chart Canvas **/

.app-chart-canvas {
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    width: 450px;
    height: 240px;
    z-index: 19;
    /* user-select: none; */
}