
form[name=form-transaction-charge].payment-method-selected .inline-on-payment-method-selected,
form[name=form-transaction-charge].merchant-selected .inline-on-merchant-selected {
    /* display: inline-block !important; */
    float: left;
}

form[name=form-transaction-charge]:not(.payment-method-selected) .show-on-payment-method-selected,
form[name=form-transaction-charge]:not(.payment-method-swipe) .show-on-payment-method-swipe,
form[name=form-transaction-charge]:not(.payment-method-keyed) .show-on-payment-method-keyed,
form[name=form-transaction-charge]:not(.payment-method-check) .show-on-payment-method-check {
    display: none !important;
}
form[name=form-transaction-charge].payment-method-swipe .show-on-payment-method-swipe,
form[name=form-transaction-charge].payment-method-keyed .show-on-payment-method-keyed,
form[name=form-transaction-charge].payment-method-check .show-on-payment-method-check {
    display: block !important;
}

form[name=form-transaction-charge]:not(.merchant-selected) .show-on-merchant-selected {
    display: none !important;
}

form[name=form-transaction-charge] .credit-image {
    background: url('img/credit-image.png') no-repeat;
    width: 270px;
    height: 45px;
    /* border: 1px outset; */
    margin-top: 0.8em;
}

form[name=form-transaction-charge] .check-image {
    background: url('img/check-image.png') no-repeat;
    width: 300px;
    height: 137px;
    /* border: 1px outset; */
    /* margin-top: 1em; */
}


/** Swipe Box **/

form[name=form-transaction-charge].swipe-input-successful .swipe-fullscreen-box-container {
    display: none !important;
}

form[name=form-transaction-charge] .swipe-fullscreen-box-container {
    position: fixed;
    width: 84%;
    /* height: 37%; */
    top: 27%;
    left: 5%;
    background-color: rgb(188, 197, 209);
    /* opacity: 0.9; */
    border-radius: 1em;
    padding: 1.5em 1em;
    box-shadow: 0 0 1.5em #666;
}

form[name=form-transaction-charge] .swipe-fullscreen-box {

}


form[name=form-transaction-charge] .conv-fee-text {
    font-size: 0.7em;
    padding-left: 1em;
}


form[name=form-transaction-charge] .conv-fee-pop-up-box {
    display: none;
    position: absolute;
    /* right: 13em; */
    font-size: small;
    /* font-weight: bold; */

    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    padding: 0.5em 1em;

}


form[name=form-transaction-charge] .conv-fee-text:hover + .conv-fee-pop-up-box {
    display: block;
}