/** App Total **/

.app-ticket {
    width: 18em;
    min-height: 12em;
    padding: 1em 0px;
    margin: 0.5em 0.4em;
    border: 0px outset #FFF;
    border-radius: 0.3em;
    display: inline-block;
    /* text-align: center; */
    cursor: pointer;
    box-shadow: 2px 2px 4px #CCC;
    transition: box-shadow 0.5s ease;
    background-color: gray;
    vertical-align: top;
    position: relative;
    color: white;
    text-align: left;
}

.app-ticket:hover {
    box-shadow: 0px 0px 3em rgba(0, 0, 255, 0.44);
    background: linear-gradient(to bottom, rgba(43, 15, 222, 0.45) 0%, rgba(174, 62, 145, 0.07) 100%);
}


.app-ticket legend {
    font-size: larger;
    text-decoration: underline;
}

/** Form **/

.app-ticket form input,
.app-ticket form button,
.app-ticket form select,
.app-ticket form textarea {
    padding: 0.5em;
    margin: 0.5em;
    min-width: 14em;
    border-radius: 4px;
}

.app-ticket form fieldset {
    border: 0px;
}

/** Create Ticket **/

.app-ticket-create {
    background: linear-gradient(to bottom, #ff5bd5 0%, #ae3e91 100%);
    text-align: left;
}



/** App Config **/

.app-ticket .app-button-config {
    width: 1em;
    height: 1em;
    right: 6px;
    top: 6px;
    position: absolute;
    /* background-color: green; */
    z-index: 99;
    background-image: url('img/btn_icons.png');
    background-size: 4em 4em;
    font-size: 16px;
}

.app-ticket .app-button-config > ul {
     margin-left: -33px;
     margin-top: 7px;
     position: absolute;
     z-index: 999;
     list-style-type: none;
     text-align: left;
     max-height: 0px;
     /* display: block; */
     display: none;
}
.app-ticket .app-button-config:hover > ul {
    max-height: 400px;
    display: block;
}

.app-ticket .app-button-config > ul > li {
    background-color: lightgray;
    padding: 5px 10px;
    white-space: nowrap;
    border: 1px outset;
}
.app-ticket .app-button-config > ul > li:hover {
    background-color: gray;
    border: 1px inset;
    font-weight: bold;
}
.app-ticket .app-button-config > ul > li > a {
    text-decoration: none;
    color: black;
}

