/** App Total **/

.app-ticket {
    width: 18em;
    min-height: 12em;
    /* padding: 1em 0px; */
    margin: 0.5em 0.4em;
    border: 0px outset #FFF;
    border-radius: 0.3em;
    display: inline-block;
    /* text-align: center; */
    /* cursor: pointer; */
    box-shadow: 2px 2px 4px #CCC;
    transition: box-shadow 0.5s ease;
    background-color: gray;
    vertical-align: top;
    position: relative;
    color: white;
    text-align: left;
}

.app-ticket:hover {
    box-shadow: 0px 0px 3em rgba(0, 0, 255, 0.44);
    background: linear-gradient(to bottom, rgba(43, 15, 222, 0.45) 0%, rgba(174, 62, 145, 0.07) 100%);
}


/** Form **/

.app-ticket form input,
.app-ticket form button,
.app-ticket form select,
.app-ticket form textarea {
    padding: 0.5em;
    margin: 0.1em 0.5em;
/*     min-width: 14em; */
    border-radius: 4px;
}

.app-ticket form fieldset {
    border: 0px;
}



/** Create Ticket **/

.app-ticket-create {
    background: linear-gradient(to bottom, #ff5bd5 0%, #ae3e91 100%);
    text-align: left;
}


/** Recent Ticket List **/

ul.app-ticket-list {
    list-style-type: none;
    max-height: 8em;
    overflow-y: auto;
    padding: 0 1em;
    margin: 0em 0 0em 0;
}

ul.app-ticket-list > li {
    padding: .4em;
}

/** App Config **/

.app-ticket .app-button-config {
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 99;
    margin: 4px;
    /* border: 1px outset rgba(221,221,221,0.50); */
    border-radius: 4px;
    /* background-color: #ffc074; */
}
