.dashboard-section {
    margin: 0 auto;
    /* padding: 14em 0; */
    /* width: 280px; */
    /* display: block !important; */
    max-width: 58em;
}

.dashboard-section .stat-box-container {text-align: center;}

.dashboard-section .stat-box {
    width: 40%;
    padding: 2em 0;
    margin: 0.5em 1em;
    border: 1px outset #FFF;
    border-radius: 0.3em;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px #CCC;
    text-decoration: none;
    transition: box-shadow 0.5s ease;
}

.dashboard-section .stat-box:hover {
    box-shadow: 0px 0px 3em rgba(0, 0, 255, 0.44);
    background: linear-gradient(to bottom, rgba(43, 15, 222, 0.45) 0%, #ae3e91 100%);
}

.dashboard-section .stat-box-first {
    background: linear-gradient(to bottom, #5bd5ff 0%, #4095b3 100%);
}
.dashboard-section .stat-box-second {
    background: linear-gradient(to bottom, #ff5bd5 0%, #ae3e91 100%);
}
.dashboard-section .stat-box-third {
    background: linear-gradient(to bottom, #d5ff5b 0%, #94b13f 100%);
}
.dashboard-section .stat-box-fourth {
    background: linear-gradient(to bottom, #ffd55b 0%, #a08639 100%);
}

.dashboard-section .stat-box .stat-large {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.3em;
}


.layout-vertical .dashboard-section .stat-box .stat-large {
    font-size: 1.5em;
}

.dashboard-section .stat-box .stat-small {
    font-size: small;
}