.login-section {
    margin: 0 auto;
    padding: 14em 0;
    width: 280px;
    display: block !important;
}

.login-section form[name=form-login].themed {
    display: inline-block;
    background: linear-gradient(141deg, #d4e7ec 0%, #f6f9fc 30%, #d4e7ec 90%);
}

.login-section form[name=form-login].themed > fieldset > legend {

}

.login-section form[name=form-login].themed > fieldset {
}


.login-section form[name=form-login].themed input {
    padding: 1em;
}

