/** App Total **/

.app-provision {
    width: 18em;
    min-height: 12em;
    /* padding: 5em 0px; */
    margin: 0.5em 0.4em;
    /*border: 0px outset #FFF;*/
    border-radius: 0.3em;
    display: inline-block;
    text-align: left;
    /* cursor: pointer; */
    box-shadow: 2px 2px 4px #CCC;
    transition: box-shadow 0.5s ease;
    background-color: #6eab75;
    vertical-align: top;
    position: relative;
    color: white;
}


.app-provision:hover {
    box-shadow: 0px 0px 3em rgba(0, 0, 255, 0.44);
    background: linear-gradient(to bottom, rgba(43, 15, 222, 0.45) 0%, rgba(174, 62, 145, 0.07) 100%);
}


/** App Config **/

.app-provision .app-button-config {
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 99;
    margin: 4px;
    border: 1px outset rgba(221,221,221,0.50);
    border-radius: 4px;
    background-color: #ffc074;
}








/** Recent Ticket List **/

ul.app-provision-list {
    list-style-type: none;
    max-height: 8em;
    overflow-y: auto;
    padding: 0 0.3em;
    margin: 0em 0 0em 0;
}

ul.app-provision-list > li {
    padding: 0.4em;
}
ul.app-provision-list > li a {
    text-decoration: none;
    color: white;
}

ul.app-provision-list > li:hover {
        background-color: rgba(0, 0, 0, 0.19)
}

ul.app-provision-list .ready {
    color: lightgreen;
    font-weight: bold;
    float: right;
    width: 3em;
}

ul.app-provision-list .not-ready {
    color: #8e6262;
    font-weight: bold;
    float: right;
    width: 3em;
}